# Junk

*~
.#*
.DS_Store
._.DS_Store
\#*\#
.unison.*

# Issue tracking
.beads/

# Added by cargo
/target
# Cargo.lock # We would like to track the Cargo.lock for now.

# Benchmarking and Profiling:

*.svg
*.zst
perf.data*
flamegraph.svg
*.gz

# Claude Logging

logs/claude_workstream*
trash/
